body{
    background-color:rgb(245, 199, 199);
}
.container{
    width: 250px;
    margin: 250px auto;
}
.inputClass{
 height: 40px;
 width: 240px;
 text-align: right;
 font-size: 20px;
}
.cal-button{
    height: 60px;
    width: 62px;
    font-size: 20px;
}