.main-nav{
    /* background: aliceblue; */
    width: 70%;
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-nav li a{
    text-decoration: none;
    color:mediumseagreen;
    font-size: 20px;
}

.small-nav {
    /* background: aliceblue; */
    width: 70%;
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.small-nav li a{
    text-decoration: none;
    color:rgb(88, 16, 16);
    font-size: 15px;
}